# MATLAB temporary files
*.asv
*.mex*
slprj/

# Generated results (can be regenerated)
data/processed/stimuli_files/



# OS files
.DS_Store
Thumbs.db

# Temporary data
*~
data/models/trainedNet_20250624.mat
